{% extends 'layout.twig' %}

{% block content %}
    {% include 'global/navbar.twig' %}

    <header class="small-header">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="flex-fill">
                    <h2>RACES</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </header>


    <section class="section-lg">
        <div class="container">

            <div class="row align-items-center py-5">
                <div class="col-sm-12 ">
                    <h1 class="title mb-4">
                        <span class="text-info">RACE SELECTION</span>
                    </h1>
                    <p>Upon creation of your character you will be tasked to choose a race with unique history, culture, morals and beliefs. There will be no gameplay benefactors that will hinder your decision in choosing your race and will be
                        a purely different narrative perspective throughout your journey. Choosing a different race from your friends will not effect your ability to group up or start your adventure with your friends of a different race.</p>
                    <p>If you wish to change your race at a later time, you will be able to complete the questline for the race you desire to change to and go through a series of quests, objectives and resource gathering
                    to perform a ritual to transform into your desired race without a micro-transaction cost.</p>
                </div>
            </div>

            <div class="row align-items-center py-5">
                <div class="col-sm-12 col-lg-5">
                    <img src="{{ url('public/imgs/post1.jpg') }}"
                         class="w-100 mb-3 mb-lg-0 shadow">
                </div>

                <div class="col-sm-12 col-lg-7">
                    <h1 class="title mb-4">
                        <br><span class="text-info">HUMAN</span>
                    </h1>
                    <p>
                        Shattered Relics is a Massively Multiplayer Online Role Playing Game that offers a high fantasy world with classic old school experience and modern solutions.
                        Set in a time where magic is unheard of, seen and rarely practiced. Players must gather, craft, explore and fight to learn the untold truths of magic. Journey
                        through the depths of the mysterious ever-changing world and battle each obstacle that the world throws at them as it strives to preserve itself.
                    </p>
                </div>
            </div>

            <div class="row align-items-center py-5">
                <div class="col-sm-12 col-lg-7">
                    <h1 class="title mb-4">
                        <br><span class="text-info">DWARVES</span>
                    </h1>
                    <p>
                        Shattered Relics is a Massively Multiplayer Online Role Playing Game that offers a high fantasy world with classic old school experience and modern solutions.
                        Set in a time where magic is unheard of, seen and rarely practiced. Players must gather, craft, explore and fight to learn the untold truths of magic. Journey
                        through the depths of the mysterious ever-changing world and battle each obstacle that the world throws at them as it strives to preserve itself.
                    </p>
                </div>

                <div class="col-sm-12 col-lg-5">
                    <img src="{{ url('public/imgs/post1.jpg') }}"
                         class="w-100 mb-3 mb-lg-0 shadow">
                </div>

            </div>

            <div class="row align-items-center py-5">
                <div class="col-sm-12 col-lg-5">
                    <img src="{{ url('public/imgs/post1.jpg') }}"
                         class="w-100 mb-3 mb-lg-0 shadow">
                </div>


                <div class="col-sm-12 col-lg-7">
                    <h1 class="title mb-4">
                        <br><span class="text-info">GOBLINS</span>
                    </h1>
                    <p>
                        Shattered Relics is a Massively Multiplayer Online Role Playing Game that offers a high fantasy world with classic old school experience and modern solutions.
                        Set in a time where magic is unheard of, seen and rarely practiced. Players must gather, craft, explore and fight to learn the untold truths of magic. Journey
                        through the depths of the mysterious ever-changing world and battle each obstacle that the world throws at them as it strives to preserve itself.
                    </p>
                </div>
            </div>

            <div class="row align-items-center py-5">
                <div class="col-sm-12 col-lg-7">
                    <h1 class="title mb-4">
                        <br><span class="text-info">HALFLINGS</span>
                    </h1>
                    <p>
                        Shattered Relics is a Massively Multiplayer Online Role Playing Game that offers a high fantasy world with classic old school experience and modern solutions.
                        Set in a time where magic is unheard of, seen and rarely practiced. Players must gather, craft, explore and fight to learn the untold truths of magic. Journey
                        through the depths of the mysterious ever-changing world and battle each obstacle that the world throws at them as it strives to preserve itself.
                    </p>
                </div>

                <div class="col-sm-12 col-lg-5">
                    <img src="{{ url('public/imgs/post1.jpg') }}"
                         class="w-100 mb-3 mb-lg-0 shadow">
                </div>

            </div>

            <div class="row align-items-center py-5">
                <div class="col-sm-12 col-lg-5">
                    <img src="{{ url('public/imgs/post1.jpg') }}"
                         class="w-100 mb-3 mb-lg-0 shadow">
                </div>


                <div class="col-sm-12 col-lg-7">
                    <h1 class="title mb-4">
                        <br><span class="text-info">ELVES</span>
                    </h1>
                    <p>
                        Shattered Relics is a Massively Multiplayer Online Role Playing Game that offers a high fantasy world with classic old school experience and modern solutions.
                        Set in a time where magic is unheard of, seen and rarely practiced. Players must gather, craft, explore and fight to learn the untold truths of magic. Journey
                        through the depths of the mysterious ever-changing world and battle each obstacle that the world throws at them as it strives to preserve itself.
                    </p>
                </div>
            </div>

            <div class="row align-items-center py-5">
                <div class="col-sm-12 col-lg-7">
                    <h1 class="title mb-4">
                        <br><span class="text-info">GNOMES</span>
                    </h1>
                    <p>
                        Shattered Relics is a Massively Multiplayer Online Role Playing Game that offers a high fantasy world with classic old school experience and modern solutions.
                        Set in a time where magic is unheard of, seen and rarely practiced. Players must gather, craft, explore and fight to learn the untold truths of magic. Journey
                        through the depths of the mysterious ever-changing world and battle each obstacle that the world throws at them as it strives to preserve itself.
                    </p>
                </div>

                <div class="col-sm-12 col-lg-5">
                    <img src="{{ url('public/imgs/post1.jpg') }}"
                         class="w-100 mb-3 mb-lg-0 shadow">
                </div>

            </div>

        </div>
    </section>

    {% include 'global/footer.twig' %}
{% endblock %}