{%  extends 'admin_layout.twig' %}

{% block content %}
{% include 'admin/sidebar.twig' %}

<div class="main-content" id="panel">
    {% include "admin/header.twig" %}

    <div class="container-fluid">
        <!-- Card stats -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">Admin</h6>
                                <h2 class="mb-0">Delete Category: {{ category.title }}</h2>
                            </div>
                        </div>
                    </div>
                    {% if error is defined %}
                    <div class="alert alert-danger rounded-0">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="text-danger">Are you sure?</h4>

                        <p class="lh-130">
                            This action is irreversible. Posts will not be visible except under the "All Discussions" list.
                            Click below if you're sure you want to do this.
                        </p>

                        {% if error is not defined %}
                        <form action="{{ url('admin/categories/delete/'~category.id) }}" method="post">
                            <input type="submit" class="btn btn-danger" value="Confirm">
                            <a href="{{ url('admin/categories') }}" 
                                class="btn btn-link text-white-50">
                                Abort Mission
                            </a>
                        </form>
                        {% else %}
                        <a href="#" class="btn btn-danger disabled">Confirm</a>
                        <a href="{{ url('admin/categories') }}" 
                            class="btn btn-link text-white-50">
                            Abort Mission
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {{ content|raw }}
    </div>
</div>
{% endblock %}