{%  extends 'admin_layout.twig' %}

{% block content %}
{% include 'admin/sidebar.twig' %}

<div class="main-content" id="panel">
    {% include "admin/header.twig" %}

    <div class="container-fluid">
        <!-- Card stats -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">Admin</h6>
                                {% if parent is defined %}
                                <h2 class="mb-0">{{ parent.title }}</h2>
                                {% else %}
                                <h2 class="mb-0">Parent Categories</h2>
                                {% endif %}
                            </div>
                            <div class="col text-right">
                                {% if parent is defined %}
                                <a href="{{ url('admin/categories/add/'~parent.id) }}" class="btn btn-primary">
                                    <i class="fal fa-plus fa-fw"></i>
                                </a>
                                {% else %}
                                <a href="{{ url('admin/categories/add') }}" class="btn btn-primary">
                                    <i class="fal fa-plus fa-fw"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if error is defined %}
                    <div class="alert alert-danger rounded-0">
                        {{ error }}
                    </div>
                    {% endif %}
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:70px;">ID</th>
                                <th class="text-center" style="width:70px;">Icon</th>
                                <th>Title</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% for category in categories %}
                        <tr>
                            <td class="text-center">{{ category.id }}</td>
                            <td class="text-center">
                                <span class="forum-icon" style="background-color: {{ category.icon }};"></span>
                            </td>
                            <td>
                                {% if parent is defined %}
                                {{ category.title }}
                                {% else %}
                                <a href="{{ url('admin/categories/'~category.id) }}" class="text-white">
                                    {{ category.title }}
                                </a>
                                {% endif %}

                                {% if category.children %}
                                <div class="d-flex">
                                    {% for child in category.children %}
                                    <div class="pr-2">
                                        <a href="{{ url('admin/categories/edit/'~child.id) }}" 
                                            class="text-white-50">
                                            <span class="forum-icon" style="background:#444;"></span>{{ child.title }}
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                                
                            </td>
                            <td class="text-right">
                                {% if parent is not defined %}
                                <a href="{{ url('admin/categories/add/'~category.id) }}" 
                                    data-toggle="tooltip"
                                    data-title="Add Child"
                                    class="btn btn-link text-white btn-sm text-white">
                                    <i class="far fa-plus fa-fw"></i>
                                </a>
                                {% endif %}

                                <a href="{{ url('admin/categories/edit/'~category.id) }}" 
                                    data-toggle="tooltip"
                                    data-title="Edit"
                                    class="btn btn-link text-white btn-sm text-white">
                                    <i class="far fa-pencil fa-fw"></i>
                                </a>

                                <a href="{{ url('admin/categories/delete/'~category.id) }}" 
                                    data-toggle="tooltip"
                                    data-title="Delete"
                                    class="btn btn-link text-white btn-sm text-white">
                                    <i class="far fa-trash fa-fw"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {{ content|raw }}
    </div>
</div>
{% endblock %}