{% extends 'layout.twig' %}

{% block content %}
	{% include 'global/navbar.twig' %}

	<header class="small-header">
		<div class="container">
			<div class="d-flex align-items-center">
				<div class="flex-fill">
					<h2>Crowd Funding</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim minim veniam.</p>
				</div>
			</div>
		</div>
	</header>

	<section class="section-lg social-block">
		<div class="container">
			<div class="d-flex align-items-center text-center">
				<div class="flex-fill">
					<h1 class="title mb-4">
						<br><span class="text-info">?</span><br>
						<small>OUR GOAL</small>
					</h1>
				</div>
				<div class="flex-fill">
					<h1 class="title mb-4">
						<br><span class="text-info">$2,348</span><br>
						<small>TOTAL FUNDING</small>
					</h1>
				</div>
				<div class="flex-fill">
					<h1 class="title mb-4">
						<br><span class="text-info">4</span><br>
						<small>TOTAL BACKERS</small>
					</h1>
				</div>
			</div>
		</div>
	</section>


	<section class="section-lg">
		<div class="container">
			<div class="row align-items-center text-center">

				<div class="flex-fill">
					<h1 class="title mb-4">
						<small>OUR</small>
						<br><span class="text-info">STRETCH GOALS</span>
					</h1>
				</div>

			</div>

			<br>


			<div class="row align-items-center py-5">
				<div class="col-sm-12 col-lg-5">
					<img src="{{ url('public/imgs/post1.jpg') }}" class="w-100 mb-3 mb-lg-0 shadow">
				</div>


				<div class="col-sm-12 col-lg-7">
					<h3 class="title mb-4">
						<small>? USD</small>
						<br><span class="text-info">ADDITIONAL PROFESSIONS</span>
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
																		                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim 
																		                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
																		                    aliquip ex lorem.
					</p>
				</div>
			</div>

			<div class="row align-items-center py-5">
				<div class="col-sm-12 col-lg-5">
					<img src="{{ url('public/imgs/post1.jpg') }}" class="w-100 mb-3 mb-lg-0 shadow">
				</div>


				<div class="col-sm-12 col-lg-7">
					<h3 class="title mb-4">
						<small>? USD</small>
						<br><span class="text-info">RACE & LORE EXPANSION</span>
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
																		                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim 
																		                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
																		                    aliquip ex lorem.
					</p>
				</div>
			</div>


			<div class="row align-items-center py-5">
				<div class="col-sm-12 col-lg-5">
					<img src="{{ url('public/imgs/post1.jpg') }}" class="w-100 mb-3 mb-lg-0 shadow">
				</div>


				<div class="col-sm-12 col-lg-7">
					<h3 class="title mb-4">
						<small>? USD</small>
						<br><span class="text-info">GROUP & FLYING MOUNTS</span>
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
																		                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim 
																		                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
																		                    aliquip ex lorem.
					</p>
				</div>
			</div>


			<div class="row align-items-center py-5">
				<div class="col-sm-12 col-lg-5">
					<img src="{{ url('public/imgs/post1.jpg') }}" class="w-100 mb-3 mb-lg-0 shadow">
				</div>


				<div class="col-sm-12 col-lg-7">
					<h3 class="title mb-4">
						<small>? USD</small>
						<br><span class="text-info">PLAYER HOUSING</span>
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
																		                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim 
																		                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
																		                    aliquip ex lorem.
					</p>
				</div>
			</div>


			<div class="row align-items-center py-5">
				<div class="col-sm-12 col-lg-5">
					<img src="{{ url('public/imgs/post1.jpg') }}" class="w-100 mb-3 mb-lg-0 shadow">
				</div>


				<div class="col-sm-12 col-lg-7">
					<h3 class="title mb-4">
						<small>? USD</small>
						<br><span class="text-info">NAVAL EXPLORATION</span>
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
																		                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim 
																		                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
																		                    aliquip ex lorem.
					</p>
				</div>
			</div>


			<div class="row align-items-center py-5">
				<div class="col-sm-12 col-lg-5">
					<img src="{{ url('public/imgs/post1.jpg') }}" class="w-100 mb-3 mb-lg-0 shadow">
				</div>


				<div class="col-sm-12 col-lg-7">
					<h3 class="title mb-4">
						<small>? USD</small>
						<br><span class="text-info">ADVANCED TRADE</span>
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
																		                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim 
																		                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
																		                    aliquip ex lorem.
					</p>
				</div>
			</div>


            </section>

			<br><br>


<section class="section-lg social-block">
		<div class="container">
			<div class="row align-items-center text-center">
				<div class="flex-fill">
					<h1 class="title mb-4">
						<small>BACKER</small>
						<br><span class="text-info">MILESTONES</span>
					</h1>
				</div>
			</div>


			<br><br>

			<div class="row align-items-center py-6">
				<div class="col-sm-12 col-lg-6">
					<h3 class="title mb-4">
						<small>- 1,000</small>
						<br><span class="text-info">Backers</span>
					</h3>
					<p>
						+ All backers receive a unique weapon and armor skin.
					</p>
				</div>

				<br>

				<div class="col-sm-12 col-lg-6">
					<h3 class="title mb-4">
						<small>- 1,500</small>
						<br><span class="text-info">Backers</span>
					</h3>
					<p>
						+ All backers receive unique teleport FX.<br>
						+ All other rewards.
					</p>
				</div>
			</div>

			<br>

			<div class="row align-items-center py-6">
				<div class="col-sm-12 col-lg-6">
					<h3 class="title mb-4">
						<small>- 2,500</small>
						<br><span class="text-info">Backers</span>
					</h3>
					<p>
						+ All backers receive a backer exclusive only companion of their choice.
						<br>
						+ All other rewards.
					</p>
				</div>

				<br>

				<div class="col-sm-12 col-lg-6">
					<h3 class="title mb-4">
						<small>- 4,500</small>
						<br><span class="text-info">Backers</span>
					</h3>
					<p>
						+ All backers receive multiple unique trail fx visuals for their weapons.<br>
						+ All other rewards.
					</p>
				</div>
			</div>


			<br>


			<div class="row align-items-center py-6">
				<div class="col-sm-12 col-lg-6">
					<h3 class="title mb-4">
						<small>- 6,500</small>
						<br><span class="text-info">Backers</span>
					</h3>
					<p>
						+ All backers receive unique home decor for their player housing.
						<br>
						+ All other rewards.
					</p>
				</div>

				<br>

				<div class="col-sm-12 col-lg-6">
					<h3 class="title mb-4">
						<small>- 8,000</small>
						<br><span class="text-info">Backers</span>
					</h3>
					<p>
						+ All backers receive unique home decor for their player housing.
						<br>
						+ All other rewards.
					</p>
				</div>
			</div>

            </div>

            </section>

			<br>


<section class="section-lg">
		<div class="container">
			<div class="row align-items-center text-center">

				<div class="flex-fill">
					<h1 class="title mb-4">
						<small>FUNDING</small>
						<br><span class="text-info">Q & A</span>
					</h1>
				</div>

			</div>

			<br><br>

			<div class="card border-0 shadow-sm mb-3">
				<div class="card-header bg-transparent py-4">
					Q: What happens if there isn't enough raised for development?
				</div>
				<div class="card-body">
					A: In all reality, funding a mmorpg can be a challenge and not exactly promising. As investors and publishers are always an option things can take time. However, as our main goal
										                         is to at the very least release a MvP to our player base and consistently push promised content at a later date. Development of Shattered Relics has been a passion of ours and we will continue
										                         with or without funding but with your guys help we can increase the developemnt time exponentially!
				</div>
			</div>

			<div class="card border-0 shadow-sm mb-3">
				<div class="card-header bg-transparent py-4">
					Q: Where does our money go, exactly?
				</div>
				<div class="card-body">
					A: Every dollar spent through our store goes strictly towards assets, developers, licneses, contractors, equipment, and other development costs.
				</div>
			</div>

			<div class="card border-0 shadow-sm mb-3">
				<div class="card-header bg-transparent py-4">
					Q: Are there other plans for funding other than crowd funding?
				</div>
				<div class="card-body">
					A: As stated above, There will be additional options for funding such as publishers and investors. There is not alot of information to be provided by this other than things can take time, but there are many other options for funding besides crowd funding.
										                        For the time being we are focused on providing the best crowd funding campaign we possibly can!
				</div>
			</div>

			<div class="card border-0 shadow-sm mb-3">
				<div class="card-header bg-transparent py-4">
					Q: Can i request a custom reward?
				</div>
				<div class="card-body">
					A: We will not exclusively offer custom rewards for a single individual or bribes. If you have a non Pay2Win reward that would be a great addition to our store. Please email us your idea to support@grizzlyent.com
				</div>
			</div>

			<div class="card border-0 shadow-sm mb-3">
				<div class="card-header bg-transparent py-4">
					Q: Can i request a custom reward?
				</div>
				<div class="card-body">
					A: We will not exclusively offer custom rewards for a single individual or bribes. If you have a non Pay2Win reward that would be a great addition to our store. Please email us your idea to support@grizzlyent.com
				</div>
			</div>

			<div class="card border-0 shadow-sm mb-3">
				<div class="card-header bg-transparent py-4">
					Q: Can i request a refund?
				</div>
				<div class="card-body">
					A: Please review our refund policy before requesting a refund on any products/services purchased. For futher questions regarding payment services
										                        please contact us at support@grizzlyent.com
				</div>
			</div>

			<br>

        </div>
		</div>
	</section>

	{% include 'global/footer.twig' %}
{% endblock %}
