{% extends 'layout.twig' %}

{% block content %}
{% include 'global/navbar.twig' %}

<header class="small-header">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="flex-fill">
                <h2>The Team</h2>
            </div>
        </div>
    </div>
</header>


<section class="section-lg">
    <div class="container">


        {# Brandon Couey #}
        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/brad.png') }}"
                    class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <a href="https://www.linkedin.com/in/brandon-couey/"><small>Brandon Couey</small></a>
                    <br><strong><span class="text-info">Creative Director</span></strong>
                </h3>
                <p>
                    A passionate game developer and designer enthusiast. Developing since the age of 13 years old whilst starting out by developing Runescape and World of Warcraft private servers
                    for 9 years. Learning the ins and outs of the protocols and infrastructures before attempting to make a mmorpg that is truly great and immersive.
                </p>
            </div>
        </div>

        {# Royor Salasay #}
        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/royor.png') }}"
                    class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <a href="https://www.artstation.com/roysalaysay"><small>Royor Salasay</small></a>
                    <br><strong><span class="text-info">Art Director</span></strong>
                </h3>
                {#<p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                    aliquip ex lorem.
                </p>#}
            </div>
        </div>

        {# Fabian Feary #}
        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/fabian.png') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <a href="https://www.linkedin.com/in/fabian-feary-b341191b1/"><small>Fabian Feary</small></a>
                    <br><strong><span class="text-info">Game Developer & Network Engineer</span></strong>
                </h3>
                <p>
                </p>
            </div>
        </div>

        {# Blake Beaupain #}
        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/BlakeBeaupain.png') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <a href="https://www.linkedin.com/in/blake-beaupain/"><small>Blake Beaupain</small></a>
                    <br><strong><span class="text-info">Architecture & DevOps Consultant</span></strong>
                </h3>
                <p>
                    A results-driven professional who uses technology to solve business problems. With 10 years of experience in entrepreneurship and 15 years of practice in software development, my carefully built skillset and ability to learn by necessity leaves me well positioned to understand the needs of any fast-scaling tech company and make impacts where they are needed most.
                </p>
            </div>
        </div>

        {# Justin Whitehead #}
        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/justin.jpg') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <a href="https://www.artstation.com/j-white"><small>Justin Whitehead</small></a>
                    <br><strong><span class="text-info">3D & Material Artist</span></strong>
                </h3>
                <p>
                    Hey, I'm Justin! I am a self taught Substance artist. When I am not busy educating myself I am usually out taking walks, spending time with friends, and taking in as much of life as I can. However, you can find me spending a majority of my time learning new and interesting techniques about the software I use.
                </p>
            </div>
        </div>

        {# Youcef Thomas Sadoun #}

        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/thomas.png') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <small>Youcef Thomas Sadoun</small>
                    <br><strong><span class="text-info">3D Animator</span></strong>
                </h3>
                <p>
                    Hey, The names Youcef and i am a Game Designer who specializes in 3D Animation but also loves to model and texture. I've been in this industry since 2016
                    with a 3D anatomically correct head to pronounce letters in a different language and that led to me being here!
                </p>
            </div>
        </div>

        {# Brandon Rediker #}

        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/me_thumbs_up_bw.jpg') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <a href="https://www.artstation.com/brotox"><small>Brandon Rediker</small></a>
                    <br><strong><span class="text-info">3D Artist</span></strong>
                </h3>
                <p>
                </p>
            </div>
        </div>

        {# Mehrdad Khojasteh #}

        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/frozen.png') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <a href="https://www.artstation.com/mehrdad_khojasteh"><small>Mehrdad Khojasteh</small></a>
                    <br><strong><span class="text-info">3D Artist</span></strong>
                </h3>
                <p>
                </p>
            </div>
        </div>

        {# Tom Scott Toft #}

        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/tomscott.png') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <a href="https://www.imdb.com/name/nm4782037/?ref_=fn_al_nm_1"><small>Tom Scott-Toft</small></a>
                    <br><strong><span class="text-info">Sound Designer</span></strong>
                </h3>
                <p>
                    I am a Sound Designer, Editor and Mixer based in New Zealand. I have over 10 years experience working in film TV and advertising. While I have not had much experience composing for games, I am a lifelong gamer and have wanted to work in this space for a long time.
                </p>
            </div>
        </div>


        {# AJI Priandaka #}

        <div class="row align-items-center py-3">
            <div class="col-sm-12 col-lg-2">
                <img src="{{ url('public/imgs/team/aji.png') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h3 class="title mb-2">
                    <a href="https://priandaka.com"><small>AJI Priandaka</small></a>
                    <br><strong><span class="text-info">Sound Composer</span></strong>
                </h3>
                <p>
                    As a composer for video games, Aji has worked on many game projects for various game developers, involving talented local orchestra musicians to create a diverse set of works.
                    After graduating with a Bachelor of Design degree from ITB, he worked as a creative director/composer for Nightspade game studio, where he wrote music for award-winning games such as Amago.
                </p>
            </div>
        </div>



    </div>
</section>

{% include 'global/footer.twig' %}
{% endblock %}