{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-80px;">
    <div class="row">
       <div class="col-sm-12">
           <div class="card border-0 shadow-sm mb-3">
               <div class="card-body">
                   <div class="d-flex align-items-center">
                        <div class="flex-fill pr-4">
                            <img src="{{ user.avatar_url }}" class="rounded-circle" height="64px">
                        </div>
                        <div class="flex-fill w-100">
                            <h5 class="mb-0">{{ user.username|capitalize }}</h5>
                            <p class="mb-0">{{ user.rank|capitalize }}</p>
                        </div>
                   </div>
               </div>
           </div>
       </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="card border-0 shadow-sm mb-3">
                <div class="card-body">
                    <p class="small text-muted mb-0 text-uppercase ls-1">Last Login</p>
                    <p class="mb-0">{{ user.last_login|date("m.d.y g:iA T") }}</p>
                </div>
            </div>

            <div class="card border-0 shadow-sm mb-3">
                <div class="card-body">
                    <p class="small text-muted mb-0 text-uppercase ls-1">Email</p>
                    <p class="mb-0">{{ user.email }}</p>
                </div>
            </div>

            <div class="card border-0 shadow-sm mb-3">
                <div class="card-body">
                    <p class="small text-muted mb-0 text-uppercase ls-1">Mfa Status</p>
                    <p class="mb-0">{{ user.mfa_secret != null ? 'Active' : 'Inactive' }}</p>
                </div>
            </div>
            <div class="card border-0 shadow-sm mb-3">
                <div class="card-body">
                    <p class="small text-muted mb-0 text-uppercase ls-1">Created</p>
                    <p class="mb-0">{{ user.created|date("m.d.y g:iA T") }}</p>
                </div>
            </div>
        </div>
    </div>

    {{ content|raw }}

</div>
    
{%  endblock %}
