{% if user is defined %}
    <a class="btn btn-link p-1 text-{{ dark_mode ? 'light' : 'dark' }}"
        href="{{ url('topic/edit/'~topic.id) }}">
        Edit
    </a>

    {% if user.isAdmin() %}
    <a class="btn btn-link p-1 text-{{ dark_mode ? 'light' : 'dark' }}"
        href="{{ url('topic/delete/'~topic.id) }}">
        Delete
    </a>
    {% endif %}

    {% if user.isStaff() %}
    <a class="btn btn-link p-1 text-{{ dark_mode ? 'light' : 'dark' }}"
        href="{{ url(topic_url~'?sticky') }}">
        {{ topic.sticky ? 'Unstick' : 'Sticky' }}
    </a>
    <a class="btn btn-link p-1 text-{{ dark_mode ? 'light' : 'dark' }}"
        href="{{ url(topic_url~'?lock') }}">
        {{ topic.state ? 'Unlock' : 'Lock' }}
    </a>
    {% endif %}
{% endif %}