{%  extends 'layout.twig' %}

{% block content %}

{% set avatar = 
    topic['avatar_url']
    ? url(topic['avatar_url'], false)
    : url("public/img/user.jpg")
%}

{% set caturl = friendlyTitle(curcat['id']~'-'~curcat['title']) %}
{% set topic_url = 'topic/view/'~friendlyTitle(topic['id']~'-'~topic['title']) %}

<div class="container">
    <div class="row mb-5">
        <div class="col-sm-12 col-lg-12">
            <div class="mb-3 text-right">
                <a href="{{ url(caturl) }}" class="btn btn-dark ">Back to Discussions</a>
            </div>
            
            <div class="d-flex">
                <div class="flex-fill pr-3">
                    <div class="user_avatar large" style="background-image:url('{{ avatar }}');">
                        {% if topic['last_visit'] %}
                        <div class="user-online bg-success"></div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="flex-fill w-100">
                    {% if errors is defined %}
                        <div class="alert alert-danger">
                            <p class="mb-2">Errors were encountered when posting you server:</p>
                            <ul class="mb-0 pl-3">
                                {% for key, value in errors %}
                                <li>&bull; {{ value }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <div class="card border-0 shadow-sm mb-3 reply-card">
                        <div class="card-body">
                            <form action="{{ url('topic/edit/'~topic['id']) }}" method="post" id="postform">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg border-0" 
                                        name="title" value="{{ topic['title'] }}"
                                        placeholder="Title">
                                </div>
                                
                                <div class="form-group">
                                    <div id="editor" class="mb-3">
                                        {{ purifier.purify(topic['topic_body'])|raw }}
                                    </div>
    
                                    <textarea name='info' id='editor-form' 
                                        style='display:none'>{{ topic['body'] }}</textarea>
                                </div>

                                <div class="form-group">
                                    {% if error is defined %}
                                        <div class="alert alert-danger mb-0">
                                            {{ error }}
                                        </div>
                                    {% endif %}

                                    {% if success is defined %}
                                        <div class="alert alert-success mb-0">
                                            {{ success }}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-dark shadow-none" id="submit">
                                        Save Changes
                                    </button>
                        
                                    <div id="toolbar" class="d-inline-block">
                                        <span class="ql-formats">
                                            <button class="ql-bold" 
                                                data-toggle="tooltip" data-title="Bold"></button>
                                            <button class="ql-italic" 
                                                data-toggle="tooltip" data-title="Italic"></button>
                                            <button class="ql-underline" 
                                                data-toggle="tooltip" data-title="Underline"></button>
                                            <button class="ql-strike" 
                                                data-toggle="tooltip" data-title="Strikethrough"></button>
                                        </span>
                                    
                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered" 
                                                data-toggle="tooltip" data-title="Ordered List"></button>
                                            <button class="ql-list" value="bullet" 
                                                data-toggle="tooltip" data-title="Bullet List"></button>
                                        </span>
                        
                                        <span class="ql-formats">
                                            <button class="ql-link" 
                                                data-toggle="tooltip" data-title="Link"></button>
                                            <button class="ql-image" 
                                                data-toggle="tooltip" data-title="Image"></button>
                                        </span>
                        
                                        <span class="ql-formats">
                                            <button class="ql-clean"  data-toggle="tooltip" data-title="Clear Formatting"></button>
                                        </span>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {{ content|raw }}
        </div>

    </div>
</div>

{% include 'global/quill.twig' %}

<script>
    let form = $('#postform');

    form.on("submit", function (event) {
        var body = $(this).find(".ql-editor").html();
        $(this).find("#editor-form").html(body);
        return true;
    });

</script>
{%  endblock %}
